
body{
	margin:0px;
	}
#header{
	background:darkred;
	width:715px;
	height:100px;
	}
	#menu{
	background:oldlace;
	width:190px;
	height:300px;
	position: absolute;
	left:190px;
	top:100px;
	}
	#content{
	background-color: aqua;
	width:525px;
	height:300px;
	}
	#footer{
	background:darkred;
	width:715px;
	height:30px;
	}
#news{
	background:yellow;
	width:150px;
	height:280px;
	position: relative;
	left:550px;
	bottom: 10px;
}